:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);

  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  --fw-sm: 400;
  --fw-med: 500;
  --fw-lrg: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "League Spartan", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.home {
  padding: 1rem;
}
.container {
  max-width: 1440px;
  margin-inline: auto;
}

.home__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  gap: 5rem;
  margin-bottom: 5rem;
}
.col__left {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}
.col__left h1 {
  font-size: 3rem;
  color: var(--VeryDarkMagenta);
  line-height: 1;
  max-width: 400px;
}
.col__left p {
  color: var(--DarkGrayishMagenta);
  line-height: 1.5;
  max-width: 500px;
  font-size: 1.25rem;
}
.col__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
  margin-top: 1rem;
}
.reviews {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: var(--LightGrayishMagenta);

  padding: 1rem 2rem;
  border-radius: 10px;
}
.reviews p {
  font-size: 1rem;
  color: var(--VeryDarkMagenta);
  font-weight: var(--fw-lrg);
}
.stars {
  display: flex;
}
.reviews:nth-child(1) {
  /* transform: translateX(-9rem); */
  margin-right: 9rem;
}
.reviews:nth-child(2) {
  /* transform: translateX(-4.5rem); */
  margin-right: 4.5rem;
}
.stars img {
  margin-inline: 0.25rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.box {
  background-color: var(--VeryDarkMagenta);
  padding: 3rem 1.5rem;
  border-radius: 12px;
  color: white;
}
.content__top {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.content__top img {
  width: 45px;
  border-radius: 50%;
}
.content__top p:nth-child(2) {
  color: var(--SoftPink);
}
.box p {
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (max-width: 550px) {
  .home__wrapper {
    margin: 3rem 0;
    gap: 1.5rem;
  }
  .home {
    text-align: center;
  }
  .testimonials {
    margin: 3.5rem 0 5rem 0;
  }
  .reviews {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  .reviews:nth-child(1) {
    /* transform: translateX(-9rem); */
    margin-right: 0;
  }
  .reviews:nth-child(2) {
    /* transform: translateX(-4.5rem); */
    margin-right: 0;
  }
}
